body {
    margin-top: 5em;
}

.container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-container{
    position: absolute;
    width: 100%;
}

.slide{
    position: absolute;
}